.text-shadow {
  text-shadow: 5px 3px #287b8f;
}

.about-section {
  margin-top: 100px;
  padding: 50px 40px;
}

.home-section {
  position: relative;
}

.background-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  z-index: -1;
}

.background-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 60%;
}

.background-3 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.background-4 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (min-width: 1560px) {
  .about-section {
    margin-top: 104px;
    padding: 112px 88px;
  }
}
