.blog-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16, 21, 53, 0.57);
}

.blog-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 70px;
}

@media (min-width: 1560px) {
  .blog-play-icon {
    width: 100px;
  }
}
