.slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #707386;
  border-radius: 99999px;
  z-index: 100;
}

.slider-arrow.slick-prev {
  left: -35px;
}

.slider-arrow.slick-next {
  right: -35px;
}

.slider-arrow::before {
  display: none !important;
}

.slider-arrow > i {
  font-size: 20px;
  color: white;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: #707386;
}

.slide {
  transform: scale(0.7);
  transition: transform 0.5s;
  opacity: 0.6;
}

.activeSlide {
  transition: transform 0.5s;
}

.slideWrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 1560px) {
  .slider-arrow {
    width: 50px;
    height: 50px;
  }

  .slider-arrow > i {
    font-size: 30px;
  }

  .slider-arrow.slick-prev {
    left: -60px;
  }

  .slider-arrow.slick-next {
    right: -60px;
  }
}
